body {
  padding-top: 50px;
  font-size: 2em;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

code {
	padding:2px 4px;
	font-size:90%;
	color:#FF7F0E;
	background-color:#BDBDBD;
	border-radius:4px}

body {
    counter-reset: section;
    /*counter-reset: item*/
}

h2 {
    counter-reset: subsection;
}

h2:before {
    counter-increment: section;
    content: "Section " counter(section) " - ";
}

h3:before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " - ";
}


ol {
	counter-reset: item
}

ol li {
	display: block;
	position: relative;
}

ol li:before {
	content: counters(item,".") " ";
	counter-increment: item;
	margin-right: 100%
	right: 10px;
}

/*OL { counter-reset: item }
LI { display: block }
LI:before { content: counters(item, ".") " "; counter-increment: item }*/

.theList
{
    text-align: right;
    list-style-position: inside;
}​