{% extends "layout.html" %}
{% block content %}
</div>
  <div class="jumbo">
  </div>
<div>
<div class="row">
  <ol>
	{% for p in players.query.order_by('id') %}
	<div class='row'>
    
      <div class="col-md-2"></div>
      <div class="col-md-2"><h2><li></li></h2></div>
      <div class="col-md-2">
        <p><h2>{{p.name}}</h2></p>
      </div>
      <div class="col-md-2">
        <img class="img-responsive img-thumbnail img-rounded" src="{{p.photourl}}" width="50" alt="">
      </div>
      
	</div>
	{% endfor %}
  </ol>
</div>

  <table style="width:100%">
  <tr>
    <td>Rank</td>
    <td>name</td> 
    <td>img</td>
  </tr>
  <ol>
  {% for p in players.query.order_by('id') %}
  <tr>
    <td><li></li></td>
    <td>{{p.name}}</td>
    <td><img class="img-responsive img-thumbnail img-rounded" src="{{p.photourl}}" width="50" alt=""></td>
  </tr>
  {% endfor %}
  </ol>
  </table>
</div>
{% endblock %}