<!DOCTYPE html>
<html>
  <head>
    <title>Astrosquash</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body class="pumkin">
  <div class='midnight-blue'>
    <header>
      <div class="container" style="text-align:center">
        <a href="{{ url_for('static', filename='results.html') }}"><h1 class="logo">Southampton Astro Squash Ladder</h1></a>
      </div>
    </header> 
    <div class="container">
      {% block content %}
      {% endblock %}     
    </div>
  </div>
  </body>
</html>